/log

/api/target

/api/.settings

/api/.classpath

/api/.project

/api/.springBeans

/api/log

/app/target

/app/.settings

/app/.classpath

/app/.project

/app/.springBeans

/app/log

/web/target

/web/.settings

/web/.classpath

/web/.project

/web/src/main/webapp/WEB-INF/classes

/web/src/main/webapp/WEB-INF/lib

/web/src/main/webapp/WEB-INF/WERSJA.txt

/web/src/main/webapp-filter/WEB-INF/WERSJA.txt




## Pliki konfiguracyjne eclipsa
.settings
.classpath
.project
.externalToolBuilders
